<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mission.MissionImpl">
	
	
	<insert id="mission">
		INSERT INTO mission (mission_num, mission_id, mission_category, mission_name, mission_content, mission_sex,
				mission_Hid, mission_start, mission_waypoint, mission_end, mission_mission,
				mission_reservation, mission_time, mission_cost, mission_status
				<if test="mission_ofile != null and mission_sfile !=null">
				, mission_ofile, mission_sfile
				</if> 
				)
				
			VALUES (mission_seq.nextval, #{mission_id}, #{mission_category}, #{mission_name}, #{mission_content}, #{mission_sex}, 
						#{mission_Hid}, #{mission_start}, #{mission_waypoint}, 
						#{mission_end}, #{mission_mission}, #{mission_reservation},
						#{mission_time}, #{mission_cost}, #{mission_status}
						<if test="mission_ofile != null and mission_sfile !=null">
						 , #{mission_ofile}, #{mission_sfile}
						</if>
						 )
	</insert>

	
</mapper>

