<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace를 통해 서비스 역할의 인터페이스와 연결한다. -->  
<mapper namespace="mybatis.IAndroidDAO">

	<select id="memberList" resultType="membership.MemberDTO">
		SELECT * FROM member ORDER BY member_id DESC
	</select>
	
	
	<select id="memberLogin" resultType="membership.MemberDTO" 
		parameterType="membership.MemberDTO">
		SELECT * FROM member WHERE member_id=#{member_id} and member_pass=#{member_pass}
	</select> 
	
	<select id="memberInfo" resultType="membership.MemberDTO" 
		parameterType="membership.MemberDTO">
		SELECT * FROM member WHERE member_id=#{member_id}
	</select>
	
	<select id="delstart" resultType="mission.MissionDTO" 
		parameterType="mission.MissionDTO">
		SELECT * FROM mission WHERE mission_Hid=#{mission_Hid} and mission_status=1
	</select>
	
	<select resultType="membership.MemberDTO" id="ImemberDelete" parameterType="membership.MemberDTO">
		DELETE FROM member WHERE member_id=#{member_id} 
	</select>
	
	<select resultType="board.MBoardDTO" id="mboardList">
		SELECT * FROM mboard ORDER BY mboard_date DESC 
	</select>

	<select resultType="board.MBoardDTO" id="mboardView" parameterType="board.MBoardDTO">
		SELECT * FROM mboard WHERE mboard_num=#{mboard_num} 
	</select>
	
	<select id="missionList" resultType="mission.MissionDTO">
		SELECT * FROM mission ORDER BY mission_num DESC 
	</select>

	<select id="missionView" resultType="mission.MissionDTO">
		SELECT * FROM mission WHERE mission_num = #{mission_num}
	</select>

</mapper>



